body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  padding: 36px;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.form input[type='number'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 10px;
}

.form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.form fieldset label {
  display: flex;
  flex-direction: row;
  width: 360px;
  height: 78px;
}

.form input[type='radio'] {
  width: 104px;
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
